@import "tailwindcss";

@theme {
  --color-primary: #001a8e;
  --color-secondary: #00baf3;
  --color-accent: #DCB782;
  --color-surface: #F5F7FA;
  --color-surface-dark: #0D1B2A;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-surface text-gray-900 antialiased;
  }
}