---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import Features from '../../components/Features.astro';
import Trust from '../../components/Trust.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="onticket - Control de Despeses i Pressupost Familiar" lang="ca">
	<Navbar lang="ca" />
	<main>
		<Hero lang="ca" />
		<Features lang="ca" />
		<Trust lang="ca" />
	</main>
	<Footer lang="ca" />
</Layout>
