---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import Highlights from '../../components/Highlights.astro';
import Features from '../../components/Features.astro';
import HowItWorks from '../../components/HowItWorks.astro';
import Trust from '../../components/Trust.astro';
import FAQ from '../../components/FAQ.astro';
import CTA from '../../components/CTA.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="onticket - Control de Despeses i Pressupost Familiar" lang="ca">
	<Navbar lang="ca" />
	<main>
		<Hero lang="ca" />
		<Highlights lang="ca" />
		<Features lang="ca" />
		<HowItWorks lang="ca" />
		<Trust lang="ca" />
		<FAQ lang="ca" />
		<CTA lang="ca" />
	</main>
	<Footer lang="ca" />
</Layout>
